table.simpleTable {
    background-color: #FFFFFF;
    color: #000000;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
  }

  table.simpleTable td {
    padding: 3px 2px;
  }
  
  table.simpleTable thead, table.simpleTable th {
      border-bottom: 2px solid #000000;
      font-weight: bold;
      color: #000000;
      height: 70px;
  }
 
  table.simpleTable tr:nth-child(even){
    background: #EEEEEE;
  }

  table.assumptionTable {
      background-color: #FFFFFF;
      width: 95%;
      max-width: 1200px;
      margin: 0 auto;
      text-align: left;
      border-collapse: collapse;
  }

td.RAGgreen {
      color: #006400;
      font-weight: bold;
  }

td.RAGred {
    color: #8b0000;
    font-weight: bold;
  }

td.RAGamber {
    color: #a86501;
    font-weight:bold;
  }

  table.assumptionTable th, table.assumptionTable td {
      padding: 8px;
      white-space: nowrap;  
      overflow: hidden;  
      text-overflow: ellipsis;  
  }
  
  table.assumptionTable tr:nth-child(even){
    background: #EEEEEE;
  }
  
